.waypoint{
  position: relative;
  text-align: center;
}
.waypoint > p{
  display: inline-block;
  color: #FFF;
  margin-left: 10px;
}
.pokedex-dropdown{
    margin-bottom: 20px;
}
.pokedex-dropdown-header {
    text-align: left;
    font-size: 20px;
    color: #FFF;
    background: #e83030;
    padding: 10px 20px;
}
.pokedex-dropdown-body {
    background: #FFF;
    padding: 20px;
    text-align: left;
}
.pokedex-dropdown-body p {
    margin: 0;
    margin-bottom: 10px;
}
.pokedex-dropdown {
    border-radius: 10px;
    overflow: hidden;
}
.type-label{
  display: inline-block;
  padding:10px;
  background: #999;
  color: #FFF;
  font-weight: 700;
  text-transform: uppercase;
  font-size:14px;
  margin:5px;
  border-radius: 5px;
}
.normal{
  background: #999;
}
.flying{
  background: #9aabf5; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#9aabf5, #914833); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#9aabf5, #914833); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#9aabf5, #914833); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#9aabf5, #914833); /* Standard syntax */
}
.fighting{
  background: #914833;
}
.poison{
  background: #601f62;
}
.ground{
  background: #ddc276;
}
.rock{
  background: #9d863d;
}
.bug{
  background: #8c9a10;
}
.ghost{
  background: #464694;
}
.steel{
  background: #b6b6c4;
}
.fire{
  background: #c82200;
}
.water{
  background: #156ec7;
}
.grass{
  background: #379901;
}
.electric{
  background: #fab917;
}
.psychic{
  background: #eb447e;
}
.ice{
  background: #9ce4fc;
}
.dragon{
  background: #745ddd;
}
.dark{
  background: #3d2e24;
}
.fairy{
  background: #f0a9f0;
}
.unknown{
  background: #777;
}
.shadow{
  background: #333;
}
.loader{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  background-size: 100% 100%;
  background-image: url(../img/pokeball.png);
  animation: spin 1s infinite;
  -webkit-animation: spin 1s infinite;
}
#pokedex-wrapper{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
#pokedex-header{
  position: relative;
  margin: 0;
  padding: 0 20px;
  height: 45px;
  background: #394a52;
  text-align: left;
  border-bottom: 5px solid #263238;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
#pokedex-header h1{
  margin: 0;
  padding: 0;
  color: #FFF;
  font-size: 30px;
}
#pokedex-header h1:after,
#pokedex-header h1:before{
  content:'';
  width: 30px;
  height:30px;
  margin:-5px 5px 0;
  display: inline-block;
  vertical-align: middle;
  background:url(../img/pokeball.png);
  background-size: contain;
  background-repeat: no-repeat;
}
#pokedex-footer{
  position: absolute;
  bottom:0;
  left: 0;
  height: 50px;
  width: 100%;
  padding:0 20px;
  box-sizing: border-box;
  text-align: left;
  background:#212121;
  overflow: hidden;
}
#pokedex-footer > p{
  color: #FFF;
  margin:7px;
  padding:0;
  font-size: 12px;
}
#pokedex-footer a{
  color: #AAA;
}
#pokedex{
  position: absolute;
  top:50px;
  left:0;
  width: 100%;
  bottom:50px;
  text-align: left;
  background: #37474F; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#455A64, #37474F,#455A64); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#455A64, #37474F,#455A64); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#455A64, #37474F,#455A64); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#455A64, #37474F,#455A64); /* Standard syntax */
}
#pokedex-loading{
  position: relative;
  width: 100%;
  height: 100%;
  white-space: nowrap;
  text-align: center;
}
#pokedex-loading:after{
  content:'';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
#pokedex-screen,
#pokedex-control{
  position: relative;
  display: inline-block;
  vertical-align: top;
  height:100%;
  white-space: normal;
  text-align: center;
}
#pokedex-screen{
  width: 30%;
}
#pokedex-screen-summary{
  position: relative;
  white-space: nowrap;
  height: 100%;
}
#pokedex-screen-summary:after{
  content:'';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
#pokedex-summary-wrapper{
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 100%;
  z-index: 2;
}
#pokedex-summary-wrapper img{
  visibility: hidden;
  height: 0;
  width: 0;
}
#pokedex-summary-img{
  padding:20px;
  width: 50%;
  padding-bottom: 50%;
  margin:0 auto;
  border: 4px solid #4c6084;
  border-radius: 10px;
  background-size: contain;
  background-color: #FFF;
  background-position: center;
  background-repeat: no-repeat;
}
#pokedex-summary-name{
  font-size: 30px;
  font-weight: 700;
  color: #FFF;
}
#pokedex-control{
  width: 70%;
}
#pokedex-control-bar{
  position: relative;
  height: 100px;
}
.pokedex-control-bar-list-mode{
  position: absolute;
  top:50%;
  margin-top: -20px;
  left: 0;
}
.pokedex-control-bar-list-mode-item {
    position: absolute;
    top:50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    left: 0;
    padding:5px;
    border: 2px solid #FFF;
    border-radius: 5px;
    text-align: center;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform .25s;
    -o-transition: transform .25s;
    transition: transform .25s;
}
.hidden .pokedex-control-bar-list-mode-item{
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform .25s;
  -o-transition: transform .25s;
  transition: transform .25s;
}
.pokedex-control-bar-list-mode-item span{
    display: block;
    height: 2px;
    background: #FFF;
    margin: 2px 0;
    -webkit-transition: width .25s, height.25s;
    -o-transition: width .25s, height.25s;
    transition: width .25s, height.25s;
}
.pokedex-control-bar-list-mode-item.card span{
  display: inline-block;
  vertical-align: top;
  width: 9px;
  margin:0;
  height: 9px;
  padding: 0;
  background: #FFF;
  -webkit-transition: width .25s, height.25s;
  -o-transition: width .25s, height.25s;
  transition: width .25s, height.25s;
}
.pokedex-control-bar-list-mode-item.card span:nth-child(even){
  margin-left: 1px;
}
.pokedex-control-bar-list-mode-item.card span:nth-child(3),
.pokedex-control-bar-list-mode-item.card span:nth-child(4){
  margin-top: -9px;
}
.pokedex-control-bar-list-mode-item.list span{
  display: block;
  height: 2px;
  background: #FFF;
  margin: 2px 0;
  -webkit-transition: width .25s, height.25s;
  -o-transition: width .25s, height.25s;
  transition: width .25s, height.25s;
}
.pokedex-control-bar-list-mode-item-guide{
  position: absolute;
  left: 45px;
  top: 50%;
  color: #FFF;
  display: inline-block;
  font-size: 12px;
  font-weight: 700;
  opacity: 1;
  white-space: nowrap;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}
.pokedex-control-bar-search{
  position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -30px;
}
.pokedex-select {
    background: transparent;
    padding: 10px 20px;
    color: #FFF;
    font-size: 12px;
    border: 2px solid #FFF;
    border-radius: 10px;
    margin: 0 5px;
    outline: none;
}
.pokedex-select option{
  color: #000;
}
.pokedex-submit {
    padding: 10px 20px;
    color: #FFF;
    font-size: 12px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid #FFF;
}
.hidden .pokedex-control-bar-list-mode-item-guide{
  opacity: 0;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}
#pokedex-list-wrapper{
  position: absolute;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  top:100px;
  bottom:0;
  left:0;
  width: 100%;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}
#pokedex-list-wrapper.hidden{
  opacity: 0;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}
#pokedex-list{
  position: relative;
  display: block;
  margin:0;
  padding:0;
}
.list #pokedex-list{
  text-align: right;
}
.card #pokedex-list{
  text-align: left;
}
.pokedex-list-item {
    position: relative;
    display: inline-block;
    background: #e8e0c0;
    border:2px solid #e8e0c0;
    padding:10px;
    box-sizing: border-box;
    opacity: 0;
    overflow: hidden;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: transform .25s,opacity .25s;
    -o-transition: transform .25s,opacity .25s;
    transition: transform .25s,opacity .25s;
    white-space: nowrap;
}
.list .pokedex-list-item{
  height: 120px;
  width: 90%;
  margin:10px;
  padding: 0 20px;
  text-align: left;
    transform-origin: right;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.card .pokedex-list-item{
  width: 24%;
  margin:10px 0;
  padding-top: 20px;
  vertical-align: top;
  text-align: center;
  border-radius: 10px;
}
.card .pokedex-list-item:nth-child(4n+2){
  margin-left: 1%;
}
.card .pokedex-list-item:nth-child(4n+3){
  margin-left: 1%;
  margin-right: 1%;
}
.pokedex-list-item.active,
.pokedex-list-item:hover{
  background: #f8f8c0;
  border-color: #B71C1C;
}
.list .pokedex-list-item.active,
.list .pokedex-list-item:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition: transform .25s;
  -o-transition: transform .25s;
  transition: transform .25s;
}
.pokedex-list-item > a {
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.pokedex-list-item:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
.pokedex-list-item:before{
  content:'Click for Detail';
  position: absolute;
  font-family: "Metrophobic",Arial,sans-serif;
  font-weight: bold;
  padding-right: 25px;
  background: url(../img/pokeball.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 20px;
  font-size: 15px;
}
.list .pokedex-list-item:before{
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  transform-origin: right;
  background-position: right;
  -webkit-transition: transform .25s;
  -o-transition: transform .25s;
  transition: transform .25s;
  top:50%;
  margin-top: -10px;
  right:20px;
}
.list .pokedex-list-item.active:before,
.list .pokedex-list-item:hover:before{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform .25s;
  -o-transition: transform .25s;
  transition: transform .25s;
}
.card  .pokedex-list-item:before{
  top:5px;
  padding-left: 25px;
  text-align: center;
  right:-150px;
  background-position: left;
  -webkit-transition: right .25s;
  -o-transition: right .25s;
  transition: right .25s;
}
.card .pokedex-list-item.active:before,
.card .pokedex-list-item:hover:before{
  right:-10px;
  background-position: left;
  -webkit-transition: right .25s;
  -o-transition: right .25s;
  transition: right .25s;
}
.pokedex-list-thumbnail {
    position: relative;
    width: 100px;
}
.list .pokedex-list-thumbnail{
  float: left;
}
.card .pokedex-list-thumbnail{
  width: 50%;
  margin:0 auto;
}
.pokedex-list-info-wrapper{
  display: inline-block;
  vertical-align: middle;
}
.pokedex-list-info-number,
.pokedex-list-info-name{
  display: inline-block;
  font-size: 24px;
  font-weight: 700;
  vertical-align: middle;
  margin-right: 5px;
}
#pokedex-popup-wrapper{
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 99;
  white-space: nowrap;
}
#pokedex-popup-wrapper:after{
  content:'';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
#pokedex-popup{
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding-bottom: 60px;
  white-space: normal;
}
#pokedex-popup-control{
  height: 50px;
  text-align: left;
  padding:0 20px;
}
#pokedex-popup-control:before{
  content:'';
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 100%;
}
#pokedex-popup-back{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  padding-left: 25px;
}
#pokedex-popup-back:before{
  content: '';
  position: absolute;
  left:0;
  top:50%;
  margin-top: -10px;
  width: 20px;
  height:20px;
  background: url(../img/back.png);
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: left .25s;
  -o-transition: left .25s;
  transition: left .25s;
}
#pokedex-popup-back:hover:before{
  left:-10px;
  -webkit-transition: left .25s;
  -o-transition: left .25s;
  transition: left .25s;
}
.pokedex-popup-content{
  width: 80%;
  margin:0 auto;
}
.pokedex-popup-header{
  text-align: left;
  font-size: 36px;
  color: #FFF;
  margin: 0;
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 4px solid #FFF;
}
.pokedex-popup-block{
  width: 100%;
}
.pokedex-popup-header-type-wrapper{
  float: right;
}
.pokedex-popup-block-header{
  font-size: 24px;
  color: #FFF;
  text-align: left;
  padding-left: 40px;
  padding-bottom: 10px;
  margin: 20px 0 10px;
  border-bottom: 2px solid #FFF;
  background-image: url(../img/pokeball.png);
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: left top;
}
.pokedex-stats-sprites {
    display: inline-block;
    vertical-align: middle;
    width: 30%;
}
.pokedex-stats-wrapper {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
}
.pokedex-percent-bar {
    display: block;
    height: 30px;
    position: relative;
    color: #FFF;
    margin: 10px 0;
    box-sizing: border-box;
    padding: 0 10px;
}
.percent-bar {
    position: absolute;
    width: 100%;
    top: 50%;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    background: #999;
    -webkit-transform: skewX(45deg);
    -ms-transform: skewX(45deg);
    transform: skewX(45deg);
}
.percent-bar-filler{
  position: relative;
  width: 0;
  height: 100%;
  background: #ff851b;
  -webkit-transition: width .5s;
  -o-transition: width .5s;
  transition: width .5s;
}
.hp .percent-bar-filler{
  background: #F44336;
}
.attack .percent-bar-filler{
  background: #E91E63;
}
.defense .percent-bar-filler{
  background: #3F51B5;
}
.special-attack .percent-bar-filler{
  background: #FF5722;
}
.special-defense .percent-bar-filler{
  background: #9C27B0;
}
.speed .percent-bar-filler{
  background: #2196F3;
}
.percent-bar-title ,
.percent-bar-value {
    position: absolute;
    top:50%;
    margin-top: -14px;
    font-size: 18px;
    z-index: 2;
}
.percent-bar-title {
  left:20px;
}
.percent-bar-value {
  right:20px;
}
.pokedex-measurement-title {
    display: block;
    font-size: 24px;
    color: #FFF;
    margin-bottom: 20px;
    font-weight: bold;
}
.pokedex-measurement-item {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}
.pokedex-measurement-height-container img {
    display: inline-block;
    width: 50%;
    vertical-align: bottom;
}
.pokedex-measurement-height-container {
    display: block;
    white-space: nowrap;
}
.pokedex-measurement-value {
    font-size: 40px;
    color: #FFF;
}
.pokedex-measurement-note{
  display: block;
  color:#FFF;
  font-size: 12px;
}
.weight .pokedex-measurement-value {
  margin-top: 20px;
  font-size: 80px;
}
.pokedex-sprite-list {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 10px;
    margin-top: 30px;
    border: 2px solid #aaa;
    background: #FFF;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.pokedex-sprite-list:nth-child(even) {
  margin-left: 1%;
}
.pokedex-sprite-list:before {
    position: absolute;
    top: -20px;
    left: -2px;
    width: 100%;
    font-size: 20px;
    color: #FFF;
    font-family: "Metrophobic",Arial,sans-serif;
    border:2px solid #e83030;
    background-color: #e83030;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-image: url(../img/pokeball.png);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: contain;
}
.pokedex-sprite-list.default:before{
  content:'Default';
  background-color: #e83030;
  border-color: #e83030;
}
.pokedex-sprite-list.shiny:before{
  content:'Shiny';
  background-color: #FFB74D;
  border-color: #FFB74D;
}
.pokedex-sprite-item-wrapper{
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-top: 30px;
}
.pokedex-sprite-item-wrapper:nth-child(even){
  margin-left: 1%;
}
.pokedex-sprite-item-wrapper:before{
      position: absolute;
      font-weight: 700;
      top: 0;
      left: -2px;
      width: 100%;
      padding-bottom: 5px;
      font-size: 16px;
      color: #999;
      font-family: "Metrophobic",Arial,sans-serif;
      border-bottom:2px solid #999;
      text-align: left;
}
.pokedex-sprite-item-wrapper.unisex:before{
  content:'\2642 \2640 Unisex';
}
.pokedex-sprite-item-wrapper.male:before{
  content:'\2642 Male';
  color: #2196F3;
  border-color: #2196F3;
}
.pokedex-sprite-item-wrapper.female:before{
  content:'\2640 Female';
  color: #E91E63;
  border-color: #E91E63;
}
.pokedex-sprite-item {
    display: inline-block;
}
.pokedex-sprite-item span {
    font-size: 18px;
    color: #555;
}
.pokedex-ability-item.hidden .pokedex-dropdown-header{
  background: #ffb74d;
}
.pokedex-ability-item .hidden-label{
  float: right;
  background: #E91E63;
  padding: 5px 10px;
  font-size: 13px;
  color: #ffffff;
  border-radius: 10px;
}
.pokedex-matchup-item{
  margin-bottom: 20px;
}
.pokedex-matchup-item-header{
  display: block;
  padding:10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #FFF;
  font-weight: 700;
}
.pokedex-matchup-item.half_damage_from .pokedex-matchup-item-header,
.pokedex-matchup-item.no_damage_from .pokedex-matchup-item-header,
.pokedex-matchup-item.double_damage_from .pokedex-matchup-item-header{
  background: #2196F3;
}
.pokedex-matchup-item.half_damage_to .pokedex-matchup-item-header,
.pokedex-matchup-item.no_damage_to .pokedex-matchup-item-header,
.pokedex-matchup-item.double_damage_to .pokedex-matchup-item-header{
  background: #E91E63;
}
.pokedex-matchup-item-header:before{
  display: inline-block;
  vertical-align: middle;
  font-size: 24px;
  margin-top: -5px;
  margin-right: 10px;
}
.pokedex-matchup-item.half_damage_from .pokedex-matchup-item-header:before{
  content: '\26E8 0.5';
}
.pokedex-matchup-item.no_damage_from .pokedex-matchup-item-header:before{
  content:'\26E8 0'
}
.pokedex-matchup-item.double_damage_from .pokedex-matchup-item-header:before{
  content:'\26E8 2'
}

.pokedex-matchup-item.half_damage_to .pokedex-matchup-item-header:before{
  content:'\2694 0.5';
}
.pokedex-matchup-item.no_damage_to .pokedex-matchup-item-header:before{
  content:'\2694 0';
}
.pokedex-matchup-item.double_damage_to .pokedex-matchup-item-header:before{
  content:'\2694 2';
}
@media(max-width:800px){
  #pokedex-screen,
  #pokedex-control{
    display: block;
    width: 100%;
  }
  #pokedex-screen{
    height: 40%;
  }
  #pokedex-control{
    height: 60%;
  }
  #pokedex-summary-img{
    width: 25%;
    padding-bottom: 25%;
    margin:0 auto;
  }
  .list .pokedex-list-item {
    width: 85%;
  }
  .card .pokedex-list-item{
    width: 49%;
  }
  .card .pokedex-list-item:nth-child(4n+2),
  .card .pokedex-list-item:nth-child(4n+3){
    margin-left: 0;
    margin-right: 0;
  }
  .card .pokedex-list-item:nth-child(even){
    margin-left: 1%;
  }
  .list .pokedex-list-item:before{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  .card .pokedex-list-item:before{
    right:-10px;
  }
  .pokedex-sprite-list:nth-child(even),
  .pokedex-sprite-list{
    width: 100%;
    margin-left:0;
    margin-right:0;
  }
}
@media(max-width:500px){
  .pokedex-list-item:before{
    content:'';
  }
  .card .pokedex-list-item:nth-child(even){
    margin-left: 0;
  }
  .card #pokedex-list{
    text-align: center;
  }
  .card .pokedex-list-item{
    width: 80%;
    margin:10px auto;
  }
}
@keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50%{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin{
  0%{
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50%{
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
